* {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  html, body {
    min-height: 100vh;
  }
  
  body {
    color: white;
    padding: auto;
    margin: auto;
    text-align: center;
    background: url('imagens/Galaxia\ -\ Copia.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  section {
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.164);
    padding: 25px;
    height: auto;
    max-width: 500px; 
    margin: auto;
    border-radius: 15px;
    background-color: rgba(29, 153, 255, 0.411);
  }
  
  img#eu{
    width: 200px;
    padding: 10px;
    border-radius: 50%;
  }
  img.projeto {
    width: 200px;
  }
  
  .skill {
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
  }
  
  #habilidade {
    width: 350px;
  }
  
  .social > h1 {
    text-align: center;
  }
  
  .social {
    width: 50px;
  }
  #js{
    border-radius: 15px;
    width: 100px;
  }